/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.list_type {
  list-style-type: none;
}

/* header */

  /* nav */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 48px;
  }

  nav a {
    color: rgb(139, 149, 158);
  }

  nav a:hover  {
    color: rgb(25, 28, 31);
  }

  .nav_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

    .nav_left > div {
      margin-right: 28px;
    }

      .logo {
        width: 100px;
        margin-right: 10px;
      }

      .nav_nav_left {
        display: flex;
        justify-content: space-around;
      }

        .nav_nav_left div:first-of-type a {
          color: rgb(25, 28, 31);
          margin-right: 28px;
        }


  .nav_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

    .nav_right > ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

      .nav_right > ul > li {
        margin-left: 33px;
      }

      .nav_right ul li:first-of-type {
        margin-left: 0;
      }

      #Accounts, #Prodotti, #Azienda, #Aiuto, #Lingue {
        position: relative;
      }

        .ul_drop {
          display: none;
          position: absolute;
          top: 150%;
          left: 50%;
          transform: translate(-50%);
          box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
        }

          .ul_drop li {
            padding: 20px 30px;
          }

      #Prodotti ul {
        width: 340px;
      }

      #Azienda ul {
        width: 170px;
      }

      #Aiuto ul {
        width: 190px;
      }

      #Lingue .arrow_up {
        display: none;
      }

      #Lingue:hover .arrow_up{
        display: inline-block;
      }

      #Lingue:hover .arrow_down{
        display: none;
      }

    .but_app {
      background-color: rgb(235, 0, 141);
      padding: 13px 20px;
      border-radius: 100px;
      color: white;
      font-weight: 500;
      margin-left: 20px;
    }

    .but_app:hover {
      background-color: rgb(210, 0, 126);
      color: white;
    }

  .nav_hidden {
    display: none;
  }

    .nav_hidden i {
      color: rgb(139, 149, 158);
      font-size: 20px;
    }

    .nav_hidden i:hover {
      color: rgb(25, 28, 31);
    }

  #ham_menu {
    display: none;
    border: 1px solid black; /* DEBUG:  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 30px;
    line-height: 50px;
  }

    #ham_menu > div {
      display: flex;
      flex-direction: column;
    }

    #ham_menu > div > div:first-of-type a {
      color: rgb(25, 28, 31);
    }

    #ham_menu hr {
      width: 100%;
      margin: 20px 0;
      color: rgb(139, 149, 158);
    }

    #ham_menu > div > a:first-of-type {
      position: absolute;
      top: 30px;
      right: 25px;
      transform: translate(-50%,-50%);
      font-size: 30px;
    }

    #ham_menu > div > ul > li > .arrow_up {
      display: none;
    }

    #ham_menu > div > ul > li > i {
      color: rgb(139, 149, 158);
    }

    #ham_menu > div > ul > li:hover i, #ham_menu > div > ul > li:hover a{
      color: rgb(25, 28, 31);
    }

    .li_fl {
      display: flex;
      justify-content: space-between;
    }

    #ham_menu .but_app {
      text-align: center;
    }

    @media all  and (min-width:1141px) {
      #ham_menu {
        display: none;
      }

      .nav_hidden {
        display: none;
      }
    }

    @media all and (max-width: 1140px) and (min-width:1081px) {
      .nav_nav_left {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        line-height: 25px;
      }
    }

    @media all and (max-width:1080px) {

      .nav_left, .nav_right {
        display: none;
      }

      .nav_hidden {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
